* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  width: 40%;
  border-radius: 20px;
  padding: 1rem;
}

.card-img-top {
  border-radius: 20px;
}

.card-title {
  background-color: rgb(255, 230, 5);
  width: 25%;
  text-align: center;
  font-size: 15px;
  padding: 5px;
  border-radius: 5px;
}

.card-text {
  font-size: 13px;
}

.below-div {
  align-items: baseline;
  width: 100%;
}

.img-div {
  width: 20% !important;
}

.below-div img {
  /* width: 60%; */
  display: inline-block;
}

.below-div span {
  font-size: 15px;
}

/* MEDIA QUERY */

@media screen and (max-width: 768px) {
  .card-title {
    width: 30%;
    font-size: 10px;
  }

  .card {
    width: 100%;
  }

  .header {
    font-size: 15px;
  }

  .below-div span {
    font-size: 10px;
  }

  .below-div img {
    width: 120%;
    display: inline-block;
  }

  .img-div {
    width: 30% !important;
  }
}
